<template>
   <div v-if="!isFetching" class="md:py-2">
      <div
         class="w-full lg:w-64 relative bg-white py-2 px-6 lg:rounded-3xl lg:my-4 sm:shadow-xl"
      >
         <div class="lg:mt-4">
            <p class="text-xl font-semibold my-2 text-blue-400">
               Ohodnoť recept :
            </p>
            <div class="block text-left text-gray-400 text-sm">
               <div v-for="(item, index) in 5" :key="index + 1">
                  <li
                     @click.once="addRating(5 - index)"
                     class="flex list none justify-between cursor-pointer"
                  >
                     <stars :stars="5 - index"></stars>
                     <span class="font-bold text-lg"
                        >x {{ ratingFilter(5 - index, 'count') }}</span
                     >
                  </li>
               </div>
               <div v-if="errors">
                  <transition name="fade">
                     <li v-for="error in errors" class="list-none">
                        {{ error[0] }}
                     </li>
                  </transition>
               </div>
               <div v-if="message">
                  <transition name="fade">
                     <li class="list-none">
                        {{ message }}
                     </li>
                  </transition>
               </div>
               <div class="border-t-2"></div>
               <div>
                  <p>moje hodnotenie:</p>
                  <stars v-if="myRating" filed :stars="myRating.stars"></stars>
               </div>
               <dropdown v-if="authId" align="right" onClick>
                  <template v-slot:text>
                     <div
                        class="w-full flex justify-center mt-1 mb-6 font-semibold text-blue-400 transition transform duration-700 hover:scale-105"
                     >
                        <a
                           class="font font-semibold text-blue-400"
                           @click.prevent
                           href=""
                           >kto další hodnotil ?
                        </a>
                     </div>
                  </template>
                  <template v-slot:dropDown>
                     <ul
                        class="rounded-xl shadow-md p-2 w-52 max-h-72 overscroll-y-auto border border-gray-100 bg-gray-50"
                     >
                        <li
                           v-for="rating in recipeRatingsUsers.data"
                           :key="rating.id"
                        >
                           <a
                              class="flex items-center justify-start transition transform duration-700 hover:translate-x-2"
                              :href="`${$app_url}pouzivatel/${rating.user.name}`"
                           >
                              <figure
                                 class="w-10 h-10 rounded-full overflow-hidden dark:border-white border-4 border-white"
                              >
                                 <img
                                    class="w-full h-full object-cover"
                                    :src="rating.user.avatar"
                                    alt=""
                                 />
                              </figure>
                              <p
                                 class="text-base font-semibold text-blue-400 ml-2"
                              >
                                 {{ rating.user.name }}
                              </p>
                              <li
                                 class="none flex items-center justify-between ml-1"
                              >
                                 <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-7 w-7 text-yellow-400"
                                    viewBox="0 0 20 20"
                                    fill="currentColor"
                                 >
                                    <path
                                       d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                                    />
                                 </svg>
                                 {{ rating.stars }}
                              </li>
                           </a>
                        </li>
                        <li
                           v-if="recipeRatingsUsers.next_page_url"
                           @click="paginate(recipeRatingsUsers.next_page_url)"
                        >
                           Zobraziť dalej
                        </li>
                     </ul>
                  </template>
               </dropdown>
            </div>
         </div>

         <div></div>
      </div>
   </div>
</template>

<script>
import dropdown from '../dropdown.vue'
import stars from './stars.vue'
export default {
   components: {
      stars,
      dropdown,
   },
   props:{recipeId:Number, authId:Number},

   data: function () {
      return {
         isFetching: true,
         recipeRatings: null,
         recipeRatingsUsers: null,
         myRating: [],
         id: this.recipeId,
         errors: null,
         message: null,
      }
   },

   created() {
      axios.get(`${this.$app_url}rating?recipe_id=${this.id}`).then((res) => {
         this.recipeRatings = res.data.ratings
         this.myRating = this.recipeRatings.find((rating) => {
            return rating.user_id === this.authId
         })
         this.isFetching = false
      })
      if (this.authId) {
         axios
            .get(`${this.$app_url}rating/users?recipe_id=${this.id}`)
            .then((res) => {
               this.recipeRatingsUsers = res.data
            })
      }
   },

   methods: {
      paginate() {
         axios
            .get(
               `${this.recipeRatingsUsers.next_page_url}&&recipe_id=${this.id}`
            )
            .then((res) => {
               this.recipeRatingsUsers.current_page = res.data.current_page
               this.recipeRatingsUsers.next_page_url = res.data.next_page_url
               res.data.data.forEach((item) => {
                  this.recipeRatingsUsers.data.push(item)
               })
            })
      },
      addRating(stars) {
         let formData = new FormData()
         formData.append('recipe_id', this.id)
         formData.append('stars', stars)

         if (this.authId != 0) {
            formData.append('user_id', this.authId)
         }

         axios
            .post('/rating', formData)
            .then((response) => {
               this.recipeRatings.push(response.data.rating)
               this.myRating = response.data.rating
               this.message = response.data.message
               if (this.authId) {
                  this.recipeRatingsUsers.data.push(response.data.rating)
               }
               setTimeout(() => {
                  this.message = null
               }, 5000)
            })
            .catch((err) => {
               this.errors = err.response.data.errors
               setTimeout(() => {
                  this.errors = null
               }, 5000)
            })
      },
      ratingFilter(stars, ...options) {
         if (options[0] === 'count') {
            let rating = this.recipeRatings.filter(
               (element) => element.stars === stars
            )
            return rating.length
         } else {
            return this.recipeRatings.filter(
               (element) => element.stars === stars
            )
         }
      },
   },
}
</script>


