@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

@layer utilities{
  .font-corinthia{
      font-family: 'Corinthia', cursive;
  }

  .Alex-Brush{
    font-family: 'Alex Brush', cursive;
  }

  .custom-color-logoGray{
      color: #737373;
  }
  
  .hidebar::-webkit-scrollbar {
    display: none;
  }
  
  .hidebar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  } 
  .custom-gradient {
    background-color: #70b2d9;
    background-image: linear-gradient(315deg, #70b2d9 0%, #39e5b6 74%);
  }

  .via-blue-custom {
    --tw-gradient-stops: var(--tw-gradient-from), #70b2d9, var(--tw-gradient-to, rgb(112, 178, 217, 0));
  }

  .text-gradient {
    background: -webkit-linear-gradient(315deg, #70b2d9 0%, #39e5b6 74%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .corinthia{
    font-family: 'Corinthia', cursive;

  }
  .primary-color{
    color: #70b2d9 ;
  }  
  .secondary-color{
    color: #39e5b6 ;
  }
  .border-secondary-color{
    border-color:#39e5b6 ;
  }
  .border-primary-color{
    border-color:#70b2d9 ;
  }
  //Animations

  .fade-enter-active,
  .fade-leave-active {
    transition: all, 0.3s;
  }
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
    transform: scale(0.55);
  }

  .slide-left-enter-active,
  .slide-right-enter-active {
    transition: all 0.3s ease;
  }
  .slide-left-leave-active,
  .slide-right-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
  }
  .slide-right-enter, .slide-right-leave-to{
    transform: translateX(10px);
    opacity: 0;
  }
  .slide-left-enter, .slide-left-leave-to{
    transform: translateX(-10px);
    opacity: 0;
  }



}


