<template>
   <div class="pt-20">
      <stats-cards></stats-cards>
      <div class="flex items-start justify-around flex-col xl:flex-row">
         <div class="px-1 w-full">
            <h2 class="px-6 text-base font-semibold p-3">Recepty</h2>
            <recipes-panel></recipes-panel>
         </div>
         <div class="px-1 w-full">
            <h2 class="px-6 text-base font-semibold p-3">použivatelia</h2>
            <users-panel :authId="authId"></users-panel>
         </div>
      </div>
      <div class="w-full pb-10">
         <h2 class="px-6 text-base font-semibold p-3">Dev Todo</h2>
         <dev-todo></dev-todo>
      </div>
   </div>
</template>

<script>
import statsCards from './statsCards.vue'
import recipesPanel from './recipesPanel.vue'
import usersPanel from './usersPanel.vue'
import devTodo from '../todo/devTodo.vue'
import Calendar from '../calendar.vue'

export default {
   components: {
      statsCards,
      recipesPanel,
      usersPanel,
      devTodo,
      Calendar
   },
   props: ['auth-id'],
   data: function() {
      return {
         stats: []
      }
   }
}
</script>
