<template>
   <div
      class="mx-4 h-custom-min bg-white rounded-md py-1 shadow-md overflow-x-auto"
   >
      <table class="w-full px-7 bg-white text-gray-600 border-collapse">
         <thead class="w-full text-gray-800 border-b-2 border-gray-400">
            <tr class="font-semibold px-4 py-2">
               <td class="py-3 px-6">Recept</td>
               <td class="py-3 px-6">
                  <dropdown withArrow>
                     <template v-slot:text> použivateľ </template>
                     <template v-slot:dropDown>
                        <ul
                           class="text-sm bg-gray-100 p-2 rounded-lg font-semibold text-gray-600 cursor-pointer"
                        >
                           <li
                              :class="{ 'text-blue-400': user === 1 }"
                              class="hover:text-blue-400"
                              @click=";(user = 1), paginate()"
                           >
                              Použivateľ
                           </li>
                           <li
                              :class="{ 'text-blue-400': user === 0 }"
                              class="hover:text-blue-400"
                              @click=";(user = 0), paginate()"
                           >
                              Neregistrovaný
                           </li>
                           <li
                              class="hover:text-blue-400"
                              @click=";(user = ''), paginate()"
                           >
                              zrušiť
                           </li>
                        </ul>
                     </template>
                  </dropdown>
               </td>
               <td class="py-3 px-6">
                  <dropdown withArrow>
                     <template v-slot:text> Pridaný </template>
                     <template v-slot:dropDown>
                        <ul
                           class="text-sm bg-gray-100 p-2 rounded-lg font-semibold text-gray-600 cursor-pointer"
                        >
                           <li
                              :class="{ 'text-blue-400': groupBy === 'newest' }"
                              class="hover:text-blue-400"
                              @click=";(groupBy = 'newest'), paginate()"
                           >
                              Najnovší
                           </li>
                           <li
                              :class="{ 'text-blue-400': groupBy === 'oldest' }"
                              class="hover:text-blue-400"
                              @click=";(groupBy = 'oldest'), paginate()"
                           >
                              Najstarší
                           </li>
                           <li
                              class="hover:text-blue-400"
                              @click=";(groupBy = ''), paginate()"
                           >
                              zrušiť
                           </li>
                        </ul>
                     </template>
                  </dropdown>
               </td>
               <td class="py-3 px-6">
                  <dropdown withArrow>
                     <template v-slot:text> Schválený </template>
                     <template v-slot:dropDown>
                        <ul
                           class="text-sm bg-gray-100 p-2 rounded-lg font-semibold text-gray-600 cursor-pointer"
                        >
                           <li
                              :class="{ 'text-blue-400': confirmation === 1 }"
                              class="hover:text-blue-400"
                              @click=";(confirmation = 1), paginate()"
                           >
                              Schválený
                           </li>
                           <li
                              :class="{ 'text-blue-400': confirmation === 0 }"
                              class="hover:text-blue-400"
                              @click=";(confirmation = 0), paginate()"
                           >
                              Neschválený
                           </li>
                           <li
                              class="hover:text-blue-400"
                              @click=";(confirmation = ''), paginate()"
                           >
                              zrušiť
                           </li>
                        </ul>
                     </template>
                  </dropdown>
               </td>
            </tr>
         </thead>
         <tbody
            class="w-full bg-white text-sm font-semibold last-of-type:border-none"
         >
            <tr
               class="border-b border-gray-300"
               v-for="recipe in recipes.data"
               :key="recipe.id"
            >
               <td @click="showRecipe(recipe)" class="py-2 px-6 cursor-pointer">
                  {{ stringLimiter(recipe.title) }}
               </td>
               <td class="py-2 px-6">
                  <a
                     class="text-blue-400"
                     v-if="recipe.user"
                     :href="$app_url + 'pouzivatel/' + recipe.user.name"
                     >{{ recipe.user.name }}</a
                  >
                  <p v-else>{{ recipe.guest }}</p>
               </td>
               <td class="py-2 px-6">
                  {{ dateFormat(recipe.created_at) }}
               </td>
               <td class="py-2 px-6" v-if="recipe.confirmation === 1">
                  <p
                     class="custom-text inline-block px-2 py-0.5 text-center text-green-400 border border-green-400 rounded-full"
                  >
                     schválený
                  </p>
               </td>
               <td class="py-2 px-6" v-else>
                  <p
                     class="custom-text inline-block px-2 py-0.5 text-center text-yellow-400 border border-yellow-400 rounded-full"
                  >
                     čaka na schválenie
                  </p>
               </td>
            </tr>
            <tr
               class="py-2 px-6"
               v-if="recipes.data && recipes.data.length <= 0"
            >
               Žiadne dostupne dáta
            </tr>
         </tbody>
      </table>
      <paginate
         size="medium"
         :next-page-url="recipes.next_page_url"
         :prev-page-url="recipes.prev_page_url"
         :last-page="recipes.last_page"
         :current-page="recipes.current_page"
         @paginated="paginate"
      ></paginate>
      <div v-if="showModal">
         <modal @closeModal="showModal = false">
            <div
               class="bg-white rounded-lg h-custom max-w-full sm:w-full md:w-3/4 lg:w-1/2 overflow-y-scroll z-50"
            >
               <div class="flex items-center justify-between m-3">
                  <div class="flex items-center justify-center">
                     <a
                        v-if="selectedRecipe.confirmation === 0 && !editRecipe"
                        class="text-base text-gray-500 font-semibold py-0.5 px-3 border-2 border-green-500 rounded-full transform transition duration-500 hover:bg-green-500 hover:text-white"
                        @click.prevent="aproveeRecipe(selectedRecipe)"
                        href=""
                        >Schváliť</a
                     >
                     <a
                        v-if="!editRecipe"
                        class="text-base text-gray-500 font-semibold py-0.5 px-3 border-2 border-green-500 rounded-full transform transition duration-500 hover:bg-green-500 hover:text-white"
                        @click.prevent="editingRecipe()"
                        href=""
                        >Upraviť</a
                     >
                     <a
                        class="text-base text-red-400 font-semibold py-0.5 px-3"
                        @click.prevent="beforeDelete()"
                        href=""
                        >Zmazať</a
                     >
                  </div>
                  <a
                     class="text-base text-gray-500 underline font-semibold py-0.5 px-5"
                     @click.prevent=";(showModal = false), (editRecipe = false)"
                     href=""
                     >späť</a
                  >
               </div>
               <recipe-form
                  @submited="editingRecipe"
                  v-if="editRecipe"
                  auth="admin"
                  :editable-recipe="selectedRecipe"
                  editing
               ></recipe-form>
               <recipe-preview
                  v-if="!editRecipe"
                  :recipe="selectedRecipe"
               ></recipe-preview>
            </div>
         </modal>
      </div>
      <are-you-sure
         v-if="areYouSure"
         @submitEvent="deleteRecipe(selectedRecipe)"
         @closeEvent="beforeDelete()"
         message="Ste si istý že chcete zmazať tento recept ?"
         button="Zmazať"
      ></are-you-sure>
   </div>
</template>

<script>
import recipeForm from '../recipe/recipeForm.vue'
import areYouSure from '../areYouSure.vue'
import recipePreview from './recipePreview.vue'
import recipe from '../recipe/recipe.vue'
import modal from '../modal.vue'
import paginate from '../paginate.vue'
import dropdown from '../dropdown.vue'

export default {
   components: {
      paginate,
      modal,
      recipe,
      recipePreview,
      areYouSure,
      recipeForm,
      dropdown
   },

   data: function() {
      return {
         groupBy: '',
         confirmation: '',
         user: '',
         recipes: '',
         showModal: false,
         areYouSure: false,
         selectedRecipe: '',
         editRecipe: false
      }
   },
   methods: {
      paginate(pageNumber = 1) {
         axios
            .get(
               `${this.$app_url}admin/recipes?page=${pageNumber}&confirmation=${this.confirmation}&user=${this.user}&group=${this.groupBy}`
            )
            .then(response => {
               this.recipes = response.data.recipes
               this.recipes.data.forEach(data => {
                  data.ingredients = JSON.parse(data.ingredients)
                  data.approach = JSON.parse(data.approach)
               })
            })
      },
      showRecipe(recipe) {
         this.selectedRecipe = recipe

         this.showModal = true
      },
      editingRecipe(recipe) {
         if (this.editRecipe) {
            this.editRecipe = false
            this.recipes.data[this.recipes.data.indexOf(recipe)] = recipe
         } else this.editRecipe = true
      },
      aproveeRecipe() {
         axios
            .put(`${this.$app_url}admin/recipe/${this.selectedRecipe.id}`, {
               confirmation: 1
            })
            .then(response => {
               this.showModal = false
               this.recipes.data[
                  this.recipes.data.indexOf(this.selectedRecipe)
               ].confirmation = 1
            })
      },
      beforeDelete() {
         if (this.showModal) {
            this.showModal = false
            this.areYouSure = true
         } else {
            this.showModal = true
            this.areYouSure = false
         }
      },

      deleteRecipe(recipe) {
         axios.delete('/recept/' + recipe.id).then(response => {
            this.areYouSure = false
            this.showModal = false
            this.recipes.data.splice(this.recipes.data.indexOf(recipe), 1)
         })
      }
   },
   created() {
      axios.get(`${this.$app_url}admin/recipes`).then(response => {
         this.recipes = response.data.recipes
         this.recipes.data.forEach(data => {
            data.ingredients = JSON.parse(data.ingredients)
            data.approach = JSON.parse(data.approach)
         })
      })
   }
}
</script>

<style lang="scss" scoped>
table {
   border-collapse: collapse;
}
.w-custom {
   width: 25rem;
}
.h-custom {
   height: 95%;
}
.h-custom-min {
   min-height: 585px;
}
.custom-text {
   font-size: 0.6rem /* 12px */;
   line-height: 1rem /* 16px */;
}
</style>
