<template>
   <div
      class="mx-4 h-custom-min bg-white rounded-md py-1 shadow-md overflow-x-auto"
   >
      <table class="w-full px-7 bg-white text-gray-600 border-collapse">
         <thead class="w-full text-gray-800 border-b-2 border-gray-400">
            <tr class="font-semibold px-4 py-2">
               <td class="py-3 px-6">Meno</td>
               <td class="py-3 px-6">
                  <dropdown withArrow>
                     <template v-slot:text> Email </template>
                     <template v-slot:dropDown>
                        <ul
                           class="text-sm bg-gray-100 p-2 rounded-lg font-semibold text-gray-600 cursor-pointer"
                        >
                           <li
                              :class="{ 'text-blue-400': emailVerified === 1 }"
                              class="hover:text-blue-400"
                              @click=";(emailVerified = 1), paginate()"
                           >
                              Overený
                           </li>
                           <li
                              :class="{ 'text-blue-400': emailVerified === 0 }"
                              class="hover:text-blue-400"
                              @click=";(emailVerified = 0), paginate()"
                           >
                              Neoverený
                           </li>
                           <li
                              class="hover:text-blue-400"
                              @click=";(emailVerified = ''), paginate()"
                           >
                              zrušiť
                           </li>
                        </ul>
                     </template>
                  </dropdown>
               </td>
               <td class="py-3 px-6">
                  <dropdown withArrow>
                     <template v-slot:text> Pridaný </template>
                     <template v-slot:dropDown>
                        <ul
                           class="text-sm bg-gray-100 p-2 rounded-lg font-semibold text-gray-600 cursor-pointer"
                        >
                           <li
                              :class="{ 'text-blue-400': groupBy === 'newest' }"
                              class="hover:text-blue-400"
                              @click=";(groupBy = 'newest'), paginate()"
                           >
                              Najnovší
                           </li>
                           <li
                              :class="{ 'text-blue-400': groupBy === 'oldest' }"
                              class="hover:text-blue-400"
                              @click=";(groupBy = 'oldest'), paginate()"
                           >
                              Najstarší
                           </li>
                           <li
                              class="hover:text-blue-400"
                              @click=";(groupBy = ''), paginate()"
                           >
                              zrušiť
                           </li>
                        </ul>
                     </template>
                  </dropdown>
               </td>
               <td class="py-3 px-6">
                  <dropdown withArrow>
                     <template v-slot:text> rola </template>
                     <template v-slot:dropDown>
                        <ul
                           class="text-sm bg-gray-100 p-2 rounded-lg font-semibold text-gray-600 cursor-pointer"
                        >
                           <li
                              :class="{ 'text-blue-400': role === 'user' }"
                              class="hover:text-blue-400"
                              @click=";(role = 'user'), paginate()"
                           >
                              Použivateľ
                           </li>
                           <li
                              :class="{
                                 'text-blue-400': role === 'administrator'
                              }"
                              class="hover:text-blue-400"
                              @click=";(role = 'administrator'), paginate()"
                           >
                              Administrator
                           </li>
                           <li
                              class="hover:text-blue-400"
                              @click=";(role = ''), paginate()"
                           >
                              zrušiť
                           </li>
                        </ul>
                     </template>
                  </dropdown>
               </td>
            </tr>
         </thead>
         <tbody
            class="w-full bg-white text-sm font-semibold last-of-type:border-none"
         >
            <tr
               class="border-b border-gray-300"
               v-for="user in users.data"
               :key="user.id"
            >
               <td @click="showUser(user)" class="py-2 px-6 cursor-pointer">
                  {{ stringLimiter(user.name) }}
               </td>
               <td class="py-2 px-6">
                  <a
                     class="text-blue-400 inline"
                     :href="$app_url + 'pouzivatel/' + user.name"
                  >
                     {{ user.email }}
                     <i
                        v-if="user.email_verified_at"
                        class="far fa-check-circle ml-1.5 text-green-500"
                     ></i>
                  </a>
               </td>
               <td class="py-2 px-6">
                  {{ dateFormat(user.created_at) }}
               </td>
               <td class="py-2 px-6">
                  {{ user.role }}
               </td>
            </tr>
            <tr class="py-2 px-6" v-if="users.data && users.data.length <= 0">
               Žiadne dostupne dáta
            </tr>
         </tbody>
      </table>
      <paginate
         size="medium"
         :next-page-url="users.next_page_url"
         :prev-page-url="users.prev_page_url"
         :last-page="users.last_page"
         :current-page="users.current_page"
         @paginated="paginate"
      ></paginate>
      <div v-if="showModal">
         <modal @closeModal=";(showModal = false), reset()">
            <div
               class="bg-white rounded-lg h-custom sm:w-full md:w-3/4 lg:w-1/2 overflow-y-scroll z-50"
            >
               <div class="relative">
                  <div>
                     <li
                        @click="showModal = false"
                        class="list-none cursor-pointer absolute right-2 top-1 z-40"
                     >
                        <svg
                           xmlns="http://www.w3.org/2000/svg"
                           class="h-8 w-8 p-1.5 bg-white text-red-400 rounded-full"
                           viewBox="0 0 20 20"
                           fill="currentColor"
                        >
                           <path
                              fill-rule="evenodd"
                              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                              clip-rule="evenodd"
                           />
                        </svg>
                     </li>
                  </div>
                  <figure class="flex items-center h-80 overflow-hidden">
                     <img
                        class="w-full h-full object-cover"
                        :src="selectedUser.cover"
                        alt=""
                     />
                  </figure>
                  <figure
                     class="absolute top-56 left-1/2 transform -translate-x-1/2 w-32 h-32 rounded-full overflow-hidden border-4 border-white"
                  >
                     <img
                        class="w-full h-full object-cover"
                        :src="selectedUser.avatar"
                        alt=""
                     />
                  </figure>
               </div>
               <div class="text-center p-4 pt-10">
                  <div class="flex items-center justify-center">
                     <h1
                        class="text-blue-400 group bg-white rounded-md inline-flex items-center text-xl font-semibold"
                     >
                        <a
                           :href="$app_url + 'pouzivatel/' + selectedUser.name"
                           >{{ selectedUser.name }}</a
                        >
                     </h1>
                     <div class="list-none text-center ml-3">
                        <new-message
                           v-if="authId !== selectedUser.id"
                           :user_id="selectedUser.id"
                        >
                           <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="h-6 w-6 text-blue-400"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                           >
                              <path
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 stroke-width="2"
                                 d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z"
                              />
                           </svg>
                        </new-message>
                        <svg
                           v-else
                           xmlns="http://www.w3.org/2000/svg"
                           class="h-6 w-6 text-gray-300"
                           fill="none"
                           viewBox="0 0 24 24"
                           stroke="currentColor"
                        >
                           <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z"
                           />
                        </svg>
                     </div>
                  </div>
                  <p class="text-gray-400 text-sm font-medium">
                     {{ selectedUser.status }}
                  </p>
                  <div class="w-full px-4 sm:px-24 mt-3">
                     <div class="flex items-center justify-between">
                        <p class="text-lg font-semibold text-gray-600">
                           Emailová adresa:
                        </p>
                        <p class="text-lg font-semibold text-blue-400">
                           {{ selectedUser.email }}
                        </p>
                     </div>
                     <div class="flex items-center justify-between">
                        <p class="text-lg font-semibold text-gray-600">
                           Rola použivateľa:
                        </p>
                        <p class="text-lg font-semibold text-blue-400">
                           <dropdown withArrow>
                              <template v-slot:text>
                                 {{ selectedUser.role }}
                              </template>
                              <template v-slot:dropDown>
                                 <ul
                                    class="text-sm bg-gray-100 p-2 rounded-lg font-semibold text-gray-600 cursor-pointer"
                                 >
                                    <li
                                       :class="{
                                          'text-blue-400':
                                             selectedUser.role ===
                                             'administrator'
                                       }"
                                       class="hover:text-blue-400"
                                       @click="
                                          ;(selectedRole = 'Administrator'),
                                             (areYouSure = true)
                                       "
                                    >
                                       Administrator
                                    </li>
                                    <li
                                       :class="{
                                          'text-blue-400':
                                             selectedUser.role === 'Pouzivatel'
                                       }"
                                       class="hover:text-blue-400"
                                       @click="
                                          ;(selectedRole = 'Pouzivatel'),
                                             (areYouSure = true)
                                       "
                                    >
                                       Použivateľ
                                    </li>
                                 </ul>
                              </template>
                           </dropdown>
                           <are-you-sure
                              v-if="areYouSure"
                              @submitEvent="changeRole(selectedRole)"
                              @closeEvent="areYouSure = false"
                              :message="
                                 `Ste si istý že chcete použivatelovy prideliť novú rolu ?`
                              "
                              button="Potvrdiť"
                           ></are-you-sure>
                        </p>
                     </div>
                     <div class="flex items-center justify-between">
                        <p class="text-lg font-semibold text-gray-600">
                           Registrovaný od:
                        </p>
                        <p class="text-lg font-semibold text-blue-400">
                           {{ dateFormat(selectedUser.created_at) }}
                        </p>
                     </div>
                     <div class="flex items-center justify-between">
                        <p class="text-lg font-semibold text-gray-600">
                           overený
                        </p>
                        <p
                           v-if="selectedUser.email_verified_at"
                           class="text-lg font-semibold text-blue-400"
                        >
                           {{ dateFormat(selectedUser.email_verified_at) }}
                        </p>
                        <p
                           v-if="!selectedUser.email_verified_at"
                           class="text-lg font-semibold text-red-400"
                        >
                           Neoverený
                        </p>
                     </div>
                     <div
                        v-if="!confirmDelete"
                        class="flex items-center justify-between"
                     >
                        <p class="text-lg font-semibold text-gray-600">
                           Zmazať použivateľa:
                        </p>
                        <p
                           @click="confirmDelete = true"
                           class="text-lg font-semibold text-red-400 cursor-pointer"
                        >
                           Zmazať
                        </p>
                     </div>
                     <div
                        v-if="confirmDelete"
                        class="flex flex-col items-center justify-center mt-2"
                     >
                        <p class="text-xs font-semibold text-gray-600">
                           Zmazanie Potvrdite napísaním mena použivateľa
                        </p>
                        <p class="border-b-2 border-gray-500">
                           <input
                              class="w-full text-center border-0 focus:outline-none focus:ring-0"
                              v-model="deleteInput"
                              type="text"
                              name=""
                              id=""
                           />
                        </p>
                        <p
                           v-if="deleteInput === selectedUser.name"
                           @click="deleteUser()"
                           class="text-lg font-semibold text-red-400 cursor-pointer"
                        >
                           Zmazať
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </modal>
      </div>
   </div>
</template>

<script>
import newMessage from '../conversations/newMessage.vue'
import areYouSure from '../areYouSure.vue'
import modal from '../modal.vue'
import paginate from '../paginate.vue'
import dropdown from '../dropdown.vue'
export default {
   components: {
      newMessage,
      paginate,
      modal,
      areYouSure,
      dropdown
   },
   props: {authId:Number},
   data: function() {
      return {
         groupBy: '',
         role: '',
         emailVerified: '',
         users: '',
         selectedUser: '',
         selectedRole: '',
         deleteInput: '',
         confirmDelete: false,
         areYouSure: false,
         showModal: false
      }
   },
   methods: {
      reset() {
         ;(this.deleteInput = ''),
            (this.confirmDelete = false),
            (this.showModal = false)
         this.areYouSure = false
         this.selectedRole = ''
      },
      paginate(pageNumber = 1) {
         axios
            .get(
               `${this.$app_url}admin/users?page=${pageNumber}&role=${this.role}&email=${this.emailVerified}&group=${this.groupBy}`
            )
            .then(response => {
               this.users = response.data.users
            })
      },

      changeRole(role) {
         if (this.selectedUser.id === 1) {
            alert('dobrý pokus :)')
            this.reset()
            return
         }
         axios
            .put(`${this.$app_url}admin/user/${this.selectedUser.id}`, {
               role: role
            })
            .then(response => {
               this.selectedUser.role = role
               this.reset()
            })
      },
      showUser(user) {
         this.showModal = true
         this.selectedUser = user
      },
      deleteUser() {
         if (this.selectedUser.id === 1) {
            alert('dobrý pokus :)')
            this.reset()
            return
         }
         axios.delete(`${this.$app_url}admin/user/${this.selectedUser.id}`)
         this.users.data.splice(this.users.data.indexOf(this.selectedUser), 1)
         this.reset()
      }
   },
   created() {
      axios.get(`${this.$app_url}admin/users`).then(response => {
         this.users = response.data.users
      })
   }
}
</script>

<style lang="scss" scoped>
table {
   border-collapse: collapse;
}
.w-custom {
   width: 25rem;
}
.h-custom {
   height: 95%;
}
.h-custom-min {
   min-height: 585px;
}
.custom-text {
   font-size: 0.6rem /* 12px */;
   line-height: 1rem /* 16px */;
}
</style>
