<template>
   <div>
      <dropdown onClick :fixed="width < 1230" hideOnClick align="left">
         <template v-slot:text>
            <svg
               xmlns="http://www.w3.org/2000/svg"
               class="h-8 w-8 md:w-10 md:h-10 relative custom-gradient text-white p-1.5 font-bold rounded-full  shadow-inner border-green-400 flex items-center custom z-10"
               fill="none"
               viewBox="0 0 24 24"
               stroke="currentColor"
            >
               <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z"
               />
            </svg>
         </template>
         <template v-slot:dropDown>
            <div
               class="overflow-y-auto w-72 bg-gray-100 rounded-2xl shadow-md overflow-x-hidden"
               :class="{
                  ' h-screen my-2': width < 1230,
                  ' md:max-h-96': width > 1230,
               }"
            >
               <h4
                  class="w-full custom-color-logoGray font-corinthia text-4xl font font-semibold text-center text-green-500"
               >
                  Kategórie
               </h4>
               <div
                  class="w-full h-0.5 rounded-2xl bg-gradient-to-r from-transparent via-green-300 to-transparent"
               ></div>
               <ul class="list-none mx-2">
                  <li
                     class="text-lg transition transform duration-700 hover:translate-x-2"
                     :class="{ 'translate-x-2': selected === category }"
                     v-for="category in categories"
                     :key="category"
                  >
                     <a
                        class=" "
                        :class="{
                           'custom-gradient rounded-lg px-2 text-white ':
                              selected === category,
                           'text-blue-400': selected != category,
                        }"
                        @click.prevent="setCategory(category)"
                        href=""
                        >{{ category }}</a
                     >
                  </li>
               </ul>
            </div>
         </template>
      </dropdown>
   </div>
</template>

<script>
import dropdown from '../dropdown.vue'
export default {
   props: { width: Number },
   components: { dropdown },
   data: function () {
      return {
         selected: null,
         categories: ['Masoryby', 'Ostatne', 'Polievky', 'Cestoviny', 'Kolace'],
      }
   },
   methods: {
      setCategory(category) {
         if (category === this.selected) {
            category = ''
         }
         this.selected = category
         this.$root.$emit('setCategory', category)
      },
   },
}
</script>
