<template>
   <div>
      <dropdown onClick :fixed="width < 750" align="right">
         <template v-slot:text>
            <svg
               xmlns="http://www.w3.org/2000/svg"
               class="h-8 w-8 md:w-10 md:h-10 custom-gradient text-white p-1.5 font-bold rounded-full  shadow-inner  flex items-center custom z-10"
               fill="none"
               viewBox="0 0 24 24"
               stroke="currentColor"
            >
               <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
               />
            </svg>
         </template>
         <template v-slot:dropDown>
            <div
               v-if="!user"
               class="w-72 top-10 flex flex-col bg-white rounded-2xl shadow-md p-4"
               :class="{ 'h-screen': width < 750, 'h-96': width > 750 }"
            >
               <div class="w-full flex justify-center">
                  <figure
                     class="w-12 max-h-12 flex items-center justify-center"
                  >
                     <img
                        class="w-full object-cover"
                        :src="$app_url + 'storage/images/logo/cupCake.svg'"
                        alt=""
                        srcset=""
                     />
                  </figure>
               </div>
               <div
                  class="mt-2 w-full h-0.5 rounded-2xl bg-gradient-to-r from-transparent via-green-300 to-transparent"
               ></div>

               <a
                  :href="$app_url + 'prihlasenie'"
                  class="text-lg font-semibold cursor-pointer text-blue-400 transition transform duration-700 hover:translate-x-2"
                  >prihlasenie</a
               >

               <a
                  :href="$app_url + 'registracia'"
                  class="text-lg font-semibold cursor-pointer text-blue-400 transition transform duration-700 hover:translate-x-2"
                  >Registracia</a
               >
            </div>
            <div
               v-if="user"
               class="w-72 top-10 bg-white rounded-2xl shadow-md"
               :class="{ 'h-screen': width < 750, 'h-96': width > 750 }"
            >
               <img
                  class="max-h-44 w-full rounded-t-2xl"
                  :src="user.cover"
                  alt=""
               />
               <div class="relative">
                  <figure
                     class="absolute -top-10 left-2/4 -ml-12 flex items center justify-center w-20 h-20 rounded-full overflow-hidden "
                  >
                     <img
                        class="w-full h-full object-cover"
                        :src="user.avatar"
                        alt=""
                     />
                  </figure>
               </div>
               <div
                  class="w-full text-left px-4 font-semibold text-base text-blue-400"
               >
                  <a :href="$app_url + 'pouzivatel/' + user.name">
                     <h4
                        class="text-lg mt-10 mb-1.5 text-blue-400 transition transform duration-400 hover:text-blue-600 w-full text-center font-semibold"
                     >
                        {{ user.name }}
                     </h4>
                  </a>
                  <a
                     class="flex items-center transition transform duration-700 hover:translate-x-2"
                     :href="$app_url + 'recepty/oblubene'"
                  >
                     <i class="fas fa-table text-lg text-gray-400 mr-3"></i>
                     <li class="list-none">Obľubené recepty</li>
                  </a>
                  <a
                     class="flex items-center transition transform duration-700 hover:translate-x-2"
                     :href="$app_url + 'spravy'"
                  >
                     <i class="fas fa-comments text-lg text-gray-400 mr-3"></i>
                     <li class="list-none">Správy</li>
                  </a>
                  <a
                     class="flex items-center transition transform duration-700 hover:translate-x-2"
                     :href="$app_url + 'nastavenia'"
                  >
                     <i class="fas fa-cogs text-lg text-gray-400 mr-3"></i>
                     <li class="list-none">nastavenia</li>
                  </a>
                  <a
                     class="flex items-center transition transform duration-700 hover:translate-x-2"
                     v-if="user.role === 'administrator'"
                     :href="$app_url + 'admin'"
                  >
                     <i class="fas fa-id-card text-lg text-gray-400 mr-3"></i>
                     <li>Administračný panel</li>
                  </a>

                  <a
                     class="flex items-center transition transform duration-700 hover:translate-x-2"
                     @click.prevent="logout()"
                     href=""
                  >
                     <i
                        class="fas fa-sign-out-alt text-lg text-gray-400 mr-3"
                     ></i>
                     <li>odhlásiť</li>
                  </a>
               </div>
            </div>
         </template>
      </dropdown>
   </div>
</template>

<script>
import dropdown from '../dropdown.vue'
export default {
   components: {
      dropdown,
   },
   props: { user: [Object, Number], width: Number },
   data: function () {
      return {
         csrf: document
            .querySelector('meta[name="csrf-token"]')
            .getAttribute('content'),
      }
   },
   methods: {
      logout() {
         axios.post('/logout').then((response) => {
            if (response.status === 200) {
               window.location.href = '/'
            }
         })
      },
   },
}
</script>

