<template>
   <div class="">
      <dropdown onClick :fixed="width < 750" :hover="width > 750" align="right">
         <template v-slot:text>
            <span
               v-if="notificationCount"
               class="absolute -right-1 -top-2 w-4 h-4 rounded-full bg-red-500 z-20 text-center text-white text-xs font-semibold"
               >{{ notificationCount }}
            </span>
            <svg
               xmlns="http://www.w3.org/2000/svg"
               class="h-8 w-8 md:w-10 md:h-10 relative custom-gradient text-white p-1.5 font-bold rounded-full  shadow-inner flex items-center custom z-10"
               fill="none"
               viewBox="0 0 24 24"
               stroke="currentColor"
            >
               <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
               />
            </svg>
         </template>
         <template v-slot:dropDown>
            <div
               class="w-72 bg-white rounded-2xl shadow-md overflow-x-hidden"
               :class="{ 'h-screen pt-8': width < 750, 'h-96': width > 750 }"
            >
               <h4
                  class="w-full custom-color-logoGray font-corinthia text-4xl font font-semibold text-center text-green-500"
               >
                  notifikácie
               </h4>
               <li
                  v-if="notifications.data.length === 0"
                  class="w-full text-center text-sm font-semibold text-gray-400"
               >
                  Nemáte žiadne nové notifikácie
               </li>
               <div
                  class="w-full h-0.5 rounded-2xl bg-gradient-to-r from-transparent via-green-500 to-transparent"
               ></div>
               <div class="w-full px-1  overflow-y-auto" :class="{'h-80':width > 750,' h-5/6 ':width < 750 ,}">
                  <transition-group name="fade-top">
                     <notification
                        v-for="notification in notifications.data"
                        :key="notification.id"
                        :notification="notification"
                        @delete="deleteNotification"
                     >
                     </notification>
                  </transition-group>
                  <div
                     class="flex items-center text-base p-2 text-blue-400 font-semibold"
                  >
                     <a
                        href=""
                        @click.prevent="paginate()"
                        v-if="notifications.next_page_url"
                        class="cursor-pointer"
                     >
                        Zobraziť staršie
                     </a>
                  </div>
               </div>
               <div
                  class="flex justify-center items-center text-sm text-red-500 font-semibold"
               >
                  <a
                     href=""
                     @click.prevent="deleteAll()"
                     v-if="notifications.total > 10"
                     class="cursor-pointer"
                  >
                     odstrániť všetký
                  </a>
               </div>
            </div>
         </template>
      </dropdown>
   </div>
</template>

<script>
import notification from './userNotification.vue'
import dropdown from '../dropdown.vue'
export default {
   components: {
      dropdown,
      notification
   },
   props: {
      user: Object,
      width: Number
   },
   data: function() {
      return {
         notifications: '',
      }
   },
   methods: {
      paginate() {
         axios.get(`${this.notifications.next_page_url}`).then(res => {
            this.notifications.current_page = res.data.current_page
            this.notifications.next_page_url = res.data.next_page_url
            res.data.data.forEach(item => {
               this.notifications.data.push(item)
            })
         })
      },
      onClick(notification) {
         if (notification.data.link) {
            window.location.href = notification.data.link
         } else return
      },
      deleteNotification(notification) {
         axios.delete('/notification/' + notification.id).then(res => {
            this.notifications.data.splice(
               this.notifications.data.indexOf(notification),
               1
            )
         })
      },
      deleteAll() {
         axios.delete('/notification/all').then(res => {
            for (let i = this.notifications.data.length; i > 0; i--) {
               setTimeout(() => {
                  this.notifications.data.splice(
                     this.notifications.data.indexOf(
                        this.notifications.data[i]
                     ),
                     1
                  )
               }, i * 100)
            }
         })
      }
   },
   created() {
      axios.get(`${this.$app_url}notification`).then(res => {
         this.notifications = res.data
      })
   },

   mounted() {
      Echo.private('App.Models.User.' + this.user.id).notification(
         notification => {
            notification.read_at=null
            this.notifications.data.splice(0, 0, notification)
            
         }
      )
   },

   computed: {
      notificationCount(){
         if (this.notifications.data) {
               const filtered = this.notifications.data.filter(n => {
                  return n.read_at === null
               })
               return this.unreadNotification= filtered.length
            }
      }
            
      
   }
}
</script>
