<template>
   <div class="flex items-center py-2 text-xs">
      <div
         @click="markAsRead(notification.id)"
         :class="{
            ' cursor-pointer': notification.data.link,
            'border-l-4 border-yellow-500': !notification.read_at,
         }"
         class="flex items-center w-full justify-start px-3"
      >
         <div>
            <i
               v-if="notification.data.icon === 'info'"
               class="fas fa-info-circle text-blue-300 text-4xl p-0 m-0"
            ></i>
            <figure
               v-if="notification.data.icon === 'avatar'"
               class="w-10 h-10 rounded-full overflow-hidden border-white"
            >
               <img
                  class="w-full h-full object-cover"
                  :src="notification.data.user.avatar"
                  alt=""
               />
            </figure>
         </div>
         <div class="flex flex-col justify-start ml-2">
            <li
               v-if="notification.data.user"
               class="list none text-base text-blue-400 font-semibold"
            >
               {{ stringLimiter(notification.data.user.name) }}
            </li>
            <li v-else class="list none text-base text-blue-400 font-semibold">
               {{ $app_name }}
            </li>
            <li class="list none text-xs font-semibold text-gray-400">
               {{ notification.data.message }}
            </li>
         </div>
      </div>
      <span @click="$emit('delete', notification)" class="self-end">
         <i
            class="fas fa-times text-red-400 text-sm m-1 p-1 cursor-pointer"
         ></i>
      </span>
   </div>
</template>

<script>
export default {
   props: { notification: Object },
   methods: {
      redirect() {
         document.location.href = this.notification.data.link
      },
      markAsRead(id) {
         axios.put(`${this.$app_url}notification?id=${id}`).then((res) => {
            this.notification.read_at = res.data
            if (this.notification.data.link) {
               this.redirect()
            }
         })
      },
   },
}
</script>

