<template>
   <div>
      <ul name="list" is="transition-group">
         <div v-for="conversation in conversations.data" :key="conversation.id">
            <div @click="getConversation(conversation)">
               <user-card
                  v-if="conversation.user"
                  @deleteConversation="conversationDelete"
                  :user="conversation.user"
                  :conversation="conversation"
                  :selected="conversation.id === selected"
                  :auth-id="authId"
               />
            </div>
         </div>
      </ul>
   </div>
</template>

<script>
import userCard from './userCard.vue'

export default {
   components: {
      userCard
   },
   props: { conversations: Object, authId: Number },
   data: function() {
      return {
         areYouSure: false,
         selected: null
      }
   },
   methods: {
      getConversation(conversation) {
         conversation.messages_count = null
         this.selected = conversation.id
         this.$emit('getConversation', conversation)
      },
      conversationDelete(conversation) {
         axios.delete('/conversation/' + conversation.id).then(res => {
            this.conversations.data.splice(
               this.conversations.data.indexOf(conversation),
               1
            )
            this.$emit('conversationDeleted')
         })
      },
      filterAuthUser() {
         return this.conversations.data.map(conversation => {
            let filteredUser = conversation.users.find(user => {
               return user.id !== this.authId
            })
            return (conversation.user = filteredUser)
         })
      },
      playSound(url) {
         const audio = new Audio(url)
         audio.volume = 0.2
         audio.play()
      }
   },
   created() {
      this.filterAuthUser()
   },
   mounted() {
      Echo.private(`conversations.${this.authId}`).listen(
         'newConversation',
         data => {
            data.conversation.messages_count = 1
            this.conversations.data.splice(0, 0, data.conversation)
            this.playSound(this.$app_url + 'storage/sounds/notification.mp3')
            this.filterAuthUser()
         }
      )
   }
}
</script>

<style lang="scss" scoped>
.list-enter-active,
.list-leave-active {
   transition: all 1s;
}
.list-enter, .list-leave-to{
   opacity: 0;
   transform: translateX(30px);
}
</style>
