<template>
   <div>
      <div
         :class="{ 'justify-end ': message.user.id === userId }"
         :id="'message/' + message.id"
         class="flex items-center p-2"
      >
         <div v-if="message.user_id != userId">
            <figure
               class="w-10 h-10 rounded-full overflow-hidden  mr-2"
            >
               <img
                  v-if="message.user.avatar"
                  class="w-full h-full object-cover"
                  :src="message.user.avatar"
                  alt=""
               />
               <svg
                  v-else
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-full w-full text-gray-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
               >
                  <path
                     fill-rule="evenodd"
                     d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"
                     clip-rule="evenodd"
                  />
               </svg>
            </figure>
         </div>
         <div class="flex flex-col items-start text-gray-700 max-w-sm">
            <div class="relative flex flex-col justify-end">
               <div
                  class="flex gap-1 items-center m-0.5 flex-wrap"
                  v-if="message.images"
               >
                  <ul
                     @click="showImage(image)"
                     v-for="image in JSON.parse(message.images)"
                     :key="image"
                  >
                     <figure
                        class="flex items-center justify-center overflow-hidden w-28 max-h-28 rounded-lg"
                     >
                        <img
                           class="w-full object-cover rounded-lg"
                           :src="image"
                        />
                     </figure>
                  </ul>
                  <modal v-if="showModal" @closeModal="hideModal()">
                     <figure
                        class="relative flex items-center justify-center overflow-hidden w-10/12 h-auto rounded-lg"
                     >
                        <div
                           @click="hideModal()"
                           class="absolute left-3 top-3 w-10 h-10 rounded-full flex items-center justify-center bg-gradient-to-r from-green-400 to-green-500 cursor-pointer z-50"
                        >
                           <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="h-6 w-6 text-white"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                           >
                              <path
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 stroke-width="2"
                                 d="M11 17l-5-5m0 0l5-5m-5 5h12"
                              />
                           </svg>
                        </div>
                        <img
                           @dblclick="hideModal()"
                           class="w-full object-cover rounded-lg"
                           :src="selectedImage"
                        />
                     </figure>
                  </modal>
               </div>
               <p
                  v-if="message.text"
                  v-html="message.text"
                  v-linkified:options="{
                     className:
                        'text-xs px-3 py-1 font-semibold  bg-white rounded-lg text-blue-400 underline'
                  }"
                  ref="input"
                  class="text-base inline-block self-end font-normal py-2 px-4 whitespace-pre-line break-all bg-white rounded-xl"
                  :class="{
                     'bg-green-400 list-none text-sm  text-white ':
                        message.user_id === userId
                  }"
               ></p>
            </div>

            <span
               :class="{
                  '  w-full text-right text-xs text-gray-500 mr-2':
                     message.user_id === userId,
                  ' w-full text-left text-xs text-gray-500 ml-2':
                     message.user_id != userId
               }"
               >{{ dateFormat(message.created_at) }}</span
            >
         </div>
         <dropdown v-if="message.user.id === userId" align="right" onClick>
            <template v-slot:text>
               <i
                  class="fas fa-ellipsis-v text-gray-400 font-semibold text-sm p-1 w-2"
               ></i>
            </template>
            <template v-slot:dropDown>
               <div
                  class="w-36 text-base  text-gray-600 px-2 list-none cursor-pointer font-medium border-gray-300 border-2 top-4 right-1 rounded-xl bg-white p-2 shadow-md"
               >
                  <li
                     @click="areYouSure = true"
                     class="ml-1 transform hover:scale-103 transition duration-500 ease-in-out"
                  >
                     vymazat
                  </li>
               </div>
            </template>
         </dropdown>
      </div>

      <are-you-sure
         v-if="areYouSure"
         @submitEvent="$emit('deleteMessage', message), (showMessageOptions = false)"
         @closeEvent="areYouSure = false"
         message="Ste si istý že chcete zmazať tuto správu ?"
         button="Zmazať"
      ></are-you-sure>
   </div>
</template>

<script>
import dropdown from '../dropdown.vue'
import modal from '../modal.vue'
import areYouSure from '../areYouSure.vue'
export default {
   components: {
      areYouSure,
      modal,
      dropdown
   },
   props: { message: Object, userId: Number },

   data: function() {
      return {
         areYouSure: false,
         editing: false,
         showMessageOptions: false,
         selectedImage: null,
         showModal: false
      }
   },
   methods: {
      showImage(image) {
         this.selectedImage = image
         this.showModal = true
      },
      hideModal() {
         this.selectedImage = null
         this.showModal = false
      }
   }
}
</script>
