<template>
   <div class="h-full overflow-hidden">
      <div @click="showEmoji = false" class="h-5/6 p-3 overflow-y-auto">
         <transition-group name="fade">
            <message
               v-for="message in conversation.messages.data"
               :key="message.id"
               @deleteMessage="deleteMessage"
               :ref="'message' + message.id"
               :message="message"
               :user-id="authId"
            ></message>
         </transition-group>
         <div ref="end" class="w-full none h-1">.</div>
      </div>
      <div class="h-1/6 pb-2 flex items-end w-full">
         <div
            class="w-full px-2 mx-1 md:mx-8 py-1 flex bg-gradient-to-br from-green-300 to-green-500 rounded-full"
         >
            <textarea
               ref="textarea"
               @input="textareaResize(), (showEmoji = false)"
               v-model="text"
               rows="1"
               class="w-5/6 rounded-full max-h-20 px-8 items-center bg-white outline-none border-none focus:ring-0 resize-none hidebar"
               type="text"
               maxlength="400"
               placeholder="Vaša správa..."
            ></textarea>
            <div
               class="text-white flex flex-col self-center items-center w-10 rounded-full"
            >
               <div
                  class="transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110"
                  @click="showEmoji = !showEmoji"
               >
                  <svg
                     xmlns="http://www.w3.org/2000/svg"
                     class="h-6 w-6 cursor-pointer"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke="currentColor"
                  >
                     <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                     />
                  </svg>
               </div>
               <add-images ref="addImages" @newImages="newImages"></add-images>
               <transition name="fade">
                  <div
                     class="absolute w-full sm:w-96 p-2 bg-gray-200 rounded-lg right-0 sm:right-20 bottom-20 overflow-y-auto"
                     v-if="showEmoji"
                  >
                     <emoji-list @addEmoji="appendEmoji" class=""></emoji-list>
                  </div>
               </transition>
            </div>
            <button
               @click.prevent="sendMessage"
               class="self-center flex items-center border-2 bg-gradient-to-b from-green-300 to-green-400 border-white rounded-full ml-2 px-4 py-1 text-white font-semibold duration-500 ease-in-out transform hover:scale-105"
               type="submit"
            >
               <span class="hidden md:block">odoslať</span>
               <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-7 w-7 text-white pl-1"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
               >
                  <path
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     stroke-width="2"
                     d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"
                  />
               </svg>
            </button>
         </div>
      </div>
   </div>
</template>

<script>
import addImages from './addImages.vue'
import message from './message.vue'
import emojiList from './emojis.vue'

export default {
   components: {
      message,
      emojiList,
      addImages
   },
   props: { authId: Number, conversation: Object },

   data: function() {
      return {
         key: '',
         text: null,
         showEmoji: false,
         images: []
      }
   },

   methods: {
      deleteMessage(value) {
         this.conversation.messages.data.splice(
            this.conversation.messages.data.indexOf(value),
            1
         )

         if (this.conversation.messages.length === 0) {
            this.$root.$emit(
               'deleteEmptyConversation',
               this.selectedConversation
            )
         }
      },
      newImages(images) {
         this.images = images
      },

      sendMessage() {
         const formData = new FormData()
         formData.append('conversation_id', this.conversation.id)
         formData.append('text', this.text)
         formData.append('touser', this.conversation.reciever.id)
         for (let i = 0; i < this.images.length; i++) {
            formData.append('images[]', this.images[i])
         }

         axios.post('/messages', formData).then(res => {
            this.$refs.textarea.style.height = 'auto'
            this.text = ''
            this.showEmoji = false
            this.$refs.addImages.reset()
         })
      },
      appendEmoji(emoji) {
         this.text = this.text.concat(emoji)
      },

      textareaResize() {
         this.$refs.textarea.style.height = 'auto'
         this.$refs.textarea.style.height =
            this.$refs.textarea.scrollHeight + 'px'

         this.$refs.end.scrollIntoView()
      },
      scrollToEnd() {
         var content = this.$refs.end
         content.scrollTop = content.scrollHeight
      },
      playSound(url) {
         const audio = new Audio(url)
         audio.volume = 0.2
         audio.play()
      }
   },

   mounted() {
      this.$refs.textarea.focus()

      this.$refs.end.scrollIntoView()

      Echo.private(`conversation.` + this.conversation.id).listen(
         'newMessage',
         e => {
            this.conversation.messages.data.push(e.message)

            if (e.message.user_id !== this.authId) {
               this.playSound(this.$app_url + 'storage/sounds/notification.mp3')
            }

            setTimeout(() => {
               this.$refs.end.scrollIntoView()
            }, 0.1)
         }
      )
   }
}
</script>

<style lang="scss" >
.custom-h-90 {
   height: 90%;
}
.custom-h-10 {
   height: 10%;
}


</style>
