<template>
   <div class="">
      <div
         @click="showModal=true"
         class="flex w-full justify-center lg:justify-start items-center space-x-2 text-gray-400 text-base hover:text-blue-300 font-semibold cursor-pointer"
      >
         <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
         >
            <path
               stroke-linecap="round"
               stroke-linejoin="round"
               stroke-width="2"
               d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"
            />
         </svg>
         <p>napísať správú</p>
      </div>

      <modal v-if="showModal" @closeModal="showModal=true">
         <div class="w-full p-1 sm:w-full md:w-8/12">
            <form action="/conversation" method="POST">
               <div
                  class="w-full h-96 editor mx-auto md:w-10/12 flex flex-col text-gray-800 border border-gray-300 p-4 shadow-lg max-w-2xl bg-gray-200 rounded-2xl"
               >
                  <div
                     class="heading text-left md:text-center text-lg font-semibold m-1 text-gray-500"
                  >
                     Nová správa
                  </div>
                  <div v-if="errors && errors.subject">
                     <label
                        v-for="error in errors.subject"
                        :key="error"
                        for="subject"
                        class="flex items-center text-center  text-xs font-semibold text-yellow-500 bg-gray-100 rounded-lg shadow-md px-4 py-0.5 border-1 border-gray-400"
                     >
                        <svg
                           xmlns="http://www.w3.org/2000/svg"
                           class="h-6 w-6"
                           fill="none"
                           viewBox="0 0 24 24"
                           stroke="currentColor"
                        >
                           <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
                           />
                        </svg>
                        {{ error }}
                     </label>
                  </div>
                  <input
                     maxlength="150"
                     v-model="subject"
                     name="subject"
                     class="title bg-gray-100 border-2 border-gray-300 p-2 mb-4 outline-none focus:ring-0 rounded shadow-inner"
                     placeholder="Predmet"
                     type="text"
                  />
                  <div v-if="errors && errors.text">
                     <label
                        v-for="error in errors.text"
                        :key="error"
                        for="text"
                        class="flex items-center text-center  text-xs font-semibold text-yellow-500 bg-gray-100 rounded-lg shadow-md px-4 py-0.5 border-1 border-gray-400"
                     >
                        <svg
                           xmlns="http://www.w3.org/2000/svg"
                           class="h-6 w-6"
                           fill="none"
                           viewBox="0 0 24 24"
                           stroke="currentColor"
                        >
                           <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
                           />
                        </svg>
                        {{ error }}
                     </label>
                  </div>
                  <textarea
                     v-model="text"
                     name="text"
                     class="description bg-gray-100 sec p-3 h-60 border-2 border-gray-300 outline-none focus:ring-0 rounded shadow-inner resize-none"
                     placeholder="Správa pre použivatela..."
                  ></textarea>
                  <div class="buttons flex p-2">
                     <div
                        @click="showModal=false"
                        class="md:text-base p-1 px-4 font-semibold cursor-pointer text-gray-500 transition duration-500 ease-in-ou transform hover:-translate-y-1 hover:scale-105 hover:text-red-500"
                     >
                        Zrušiť
                     </div>
                     <button
                        @click.prevent="createNewMessage"
                        type="submit"
                        class="md:text-base rounded-full border-4 border-green-500 p-1 px-4 font-semibold cursor-pointer text-green-500 ml-2 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-105 hover:text-white hover:bg-green-500"
                     >
                        Odoslať
                     </button>
                  </div>
               </div>
            </form>
         </div>
      </modal>
   </div>
</template>

<script>
import modal from '../modal.vue'
export default {
   components: {
      modal,
   },
   props: {
      user_id: Number,
      small: Boolean
   },

   data: function() {
      return {
         subject: '',
         text: '',
         showModal: false,
         errors: null
      }
   },
   methods: {
      createNewMessage() {
         axios
            .post('/conversation', {
               touser: this.user_id,
               subject: this.subject,
               text: this.text
            })
            .then(res => {
               this.showModal=false
            })
            .catch(err => {
               this.errors = err.response.data.errors
            })
      }
   }
}
</script>
