<template>
   <div @click="addToFavourite">
      <div class="">
         <div class="relative h-8 w-48">
            <transition name="fade" mode="out-in">
               <button
                  v-if="!this.favourite"
                  type="button"
                  class="absolute h-8 w-48 px-3 font-xs font-medium bg-gradient-to-r from-green-500 to-green-400 hover:from-green-400 hover:to-green-500 focus:outline-none rounded-xl text-white"
               >
                  Pridať medzi obľúbené
               </button>
            </transition>
            <transition name="fade" mode="out-in">
               <button
                  v-if="this.favourite"
                  type="button"
                  class="absolute h-8 w-48 px-3 font-sm font-medium bg-gradient-to-r from-green-500 to-green-400 hover:from-green-400 hover:to-green-500 focus:outline-none rounded-xl text-white"
               >
                  Váš obľúbený
               </button>
            </transition>
         </div>
      </div>
   </div>
</template>

<script>
export default {
   props: { loggedUserFavourite: [Number, Object], recipeId: Number },

   data: function () {
      return {
         favourite: this.loggedUserFavourite,
      }
   },

   methods: {
      addToFavourite() {
         if (this.favourite) {
            axios.delete('/favourite', {
               id: this.recipeId,
            })
            this.favourite = false
         } else {
            axios.post('/favourite', {
               id: this.recipeId,
            })
            this.favourite = true
         }
      },
   },
}
</script>


