<template>
   <div>
      <div v-if="followers" class="">
         <dropdown align="left" onClick>
            <template v-slot:text>
               <div class="flex items-center">
                  <div
                     class="flex justify-center md:justify-start items-center space-x-2 text-gray-400 text-base hover:text-blue-300 font-semibold"
                  >
                     <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                     >
                        <path
                           d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z"
                        />
                     </svg>
                     <p>
                        <a @click.prevent href=""
                           >{{ followers.data.length }} Sledujúcich</a
                        >
                     </p>
                  </div>
               </div>
            </template>
            <template v-slot:dropDown>
               <ul
                  v-if="followers.data.length"
                  class="rounded-xl shadow-md p-2 w-52 max-h-72 overscroll-y-auto border border-gray-100 bg-gray-50"
               >
                  <li v-for="follower in followers.data" :key="follower.id">
                     <a
                        class="flex items-center justify-start transition transform duration-700 hover:translate-x-2"
                        :href="'pouzivatel/' + follower.name"
                     >
                        <figure
                           class="w-10 h-10 rounded-full overflow-hidden dark:border-white border-4 border-white"
                        >
                           <img
                              class="w-full h-full object-cover"
                              :src="follower.avatar"
                              alt=""
                           />
                        </figure>
                        <p>{{ follower.name }}</p>
                     </a>
                  </li>
                  <div
                     v-if="followers.next_page_url"
                     class="w-full flex justify-center p-3 font-semibold text-blue-500"
                  >
                     <a @click.prevent="paginate()" href="">Zobraziť ďalej</a>
                  </div>
               </ul>
            </template>
         </dropdown>
         <div
            v-if="authId && recipeUserId !== authId"
            class="relative h-12 w-full mt-2"
         >
            <transition name="fade">
               <button
                  v-if="!loggedUserFollow"
                  @click.once="addFollower()"
                  class="absolute h-10 w-40 left-2/4 -ml-20 md:-ml-0 md:left-0 m-2 md:m-0 flex items-center justify-center px-3 font-xs font-medium bg-gradient-to-r from-green-500 to-green-400 hover:from-green-400 hover:to-green-500 focus:outline-none rounded-full px- text-white"
                  type="submit"
               >
                  Začať sledovať
               </button>
            </transition>
            <transition name="fade">
               <button
                  v-if="loggedUserFollow"
                  @click.once="removeFollower()"
                  class="absolute h-10 w-40 left-2/4 -ml-20 md:-ml-0 md:left-0 m-2 md:m-0 flex items-center justify-center px-3 font-xs font-medium bg-gradient-to-r from-green-500 to-green-400 hover:from-green-400 hover:to-green-500 focus:outline-none rounded-full px- text-white"
                  type="submit"
               >
                  Zrušiť sledovanie
               </button>
            </transition>
         </div>
      </div>
   </div>
</template>

<script>
import dropdown from '../dropdown.vue'
export default {
   components: { dropdown },
   props: {
      recipeUserId: Number,
      authId: Number
   },

   data: function() {
      return {
         followers: null,
         loggedUserFollow: null
      }
   },
   created() {
      axios
         .get(`${this.$app_url}followers?id=${this.recipeUserId}`)
         .then(res => {
            this.loggedUserFollow = res.data.data.find(item => {
               return item.id === this.authId
            })
            this.followers = res.data
         })
   },

   methods: {
      paginate() {
         axios
            .get(`${this.followers.next_page_url}&&recipe_id=${this.recipeId}`)
            .then(res => {
               this.followers.current_page = res.data.current_page
               this.followers.next_page_url = res.data.next_page_url
               res.data.data.forEach(item => {
                  this.followers.data.push(item)
               })
            })
      },
      removeFollower() {
         axios
            .delete(`${this.$app_url}followers/${this.recipeUserId}`)
            .then(res => {
               this.loggedUserFollow = null
               this.followers.data.splice(
                  this.followers.data.indexOf(this.loggedUserFollow),
                  1
               )
            })
      },
      addFollower() {
         axios
            .post(`${this.$app_url}followers`, {
               follower_id: this.recipeUserId
            })
            .then(res => {
               this.followers.data.push(res.data)
               this.loggedUserFollow = res.data
            })
      }
   }
}
</script>

