<template>
   <div>
      <div class="w-full pt-14">
         <div
            class="w-full p-1 md:flex sm:justify-center items-start sm:m-auto"
         >
            <div
               class="recept-box w-full md:w-3/5 max-w-2xl md:flex sm:justify-center sm:block bg-white rounded-xl py-1 shadow-lg border-2 border-gray-100"
            >
               <div class="recept">
                  <div
                     class="flex flex-col sm:flex-row items-center justify-start sm:justify-between relative sm:px-4"
                  >
                     <div
                        class="w-full relative flex flex-row items-center self-start"
                     >
                        <img
                           class="h-14 w-14 sm:block md:h-24 md:w-24 rounded-full shadow-lg"
                           :src="
                              $app_url + 'storage/images/category/Masoryby.jpg'
                           "
                           alt=""
                        />
                        <select
                           id="category"
                           @click="errors.category = ''"
                           v-model="recipe.category"
                           class="text-lg font-semibold text-gray-700 no-underline outline-none border-none focus:ring-0 bg-transparent rounded-xl"
                        >
                           <option
                              :selected="!editing || recipe.category === ''"
                              value=""
                              disabled
                           >
                              Kategorie
                           </option>
                           <option
                              :selected="
                                 editing && recipe.category === 'Masoryby'
                              "
                              value="Masoryby"
                           >
                              Mäso&ryby
                           </option>
                           <option
                              :selected="
                                 editing && recipe.category === 'Ostatne'
                              "
                              value="Ostatne"
                           >
                              Ostatné
                           </option>
                           <option
                              :selected="
                                 editing && recipe.category === 'Polievky'
                              "
                              value="Polievky"
                           >
                              polievky
                           </option>
                           <option
                              :selected="
                                 editing && recipe.category === 'Cestoviny'
                              "
                              value="Cestoviny"
                           >
                              cestoviny
                           </option>
                           <option
                              :selected="
                                 editing && recipe.category === 'Kolace'
                              "
                              value="Kolace"
                           >
                              koláče
                           </option>
                        </select>
                        <transition name="fade">
                           <div v-if="errors.category">
                              <label
                                 v-for="error in errors.category"
                                 :key="error"
                                 for="category"
                                 class="flex items-center w-64 text-center left-4 top-10 z-10 md:top-16 md:left-16 absolute text-xs font-semibold text-yellow-500 bg-gray-100 rounded-lg shadow-md px-4 py-0.5 border-1 border-gray-400"
                              >
                                 <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-6 w-6"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                 >
                                    <path
                                       stroke-linecap="round"
                                       stroke-linejoin="round"
                                       stroke-width="2"
                                       d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
                                    />
                                 </svg>
                                 {{ error }}
                              </label>
                           </div>
                        </transition>
                     </div>
                  </div>
                  <div class="relative">
                     <transition name="fade">
                        <div v-if="errors.title">
                           <label
                              v-for="error in errors.title"
                              :key="error"
                              for="title"
                              class="flex items-center w-64 text-center top-14 absolute text-xs font-semibold text-yellow-500 bg-gray-100 rounded-lg shadow-md px-4 py-0.5 border-1 border-gray-400"
                           >
                              <svg
                                 xmlns="http://www.w3.org/2000/svg"
                                 class="h-6 w-6"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor"
                              >
                                 <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
                                 />
                              </svg>
                              {{ error }}
                           </label>
                        </div>
                     </transition>
                     <textarea
                        @click="errors.title = ''"
                        maxlength="50"
                        rows="3"
                        type="text"
                        v-model="recipe.title"
                        class="sm:text-left text-gray-600 placeholder-gray-300 w-full break-words rounded-xl font-display text-2xl leading-7 font-semibold pt-4 px-2 sm:px-5 sm:text-5xl sm:leading-10 outline-none border-none focus:ring-0 resize-none"
                        placeholder="Názov receptu"
                     ></textarea>
                  </div>
                  <div @click="errors.file = ''" class="relative">
                     <transition name="fade">
                        <div v-if="errors.file">
                           <label
                              v-for="error in errors.file"
                              :key="error"
                              for="file"
                              class="flex items-center absolute left-2 top-2 w-64 text-center text-xs font-semibold text-yellow-500 bg-gray-100 rounded-lg shadow-md px-4 py-0.5 border-1 border-gray-400"
                           >
                              <svg
                                 xmlns="http://www.w3.org/2000/svg"
                                 class="h-6 w-6"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor"
                              >
                                 <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
                                 />
                              </svg>
                              {{ error }}
                           </label>
                        </div>
                     </transition>
                     <add-image
                        :old-image="recipe.img"
                        @newImage="updateImage"
                        class="w-full"
                     >
                     </add-image>
                  </div>

                  <div
                     class="block mt-3 list-none px-2 md:flex md:justify-between md:px-10 md:text-2xl md:text-gray-700"
                  >
                     <div
                        class="flex items-center  relative text-lg font-semibold text-gray-700 md:block md:text-center md:text-lg"
                     >
                        <transition name="fade">
                           <div v-if="errors.time">
                              <label
                                 v-for="error in errors.time"
                                 :key="error"
                                 for="time"
                                 class="flex items-center w-44 text-center absolute -top-1 custom-small-text font-semibold text-yellow-500 bg-gray-100 rounded-lg shadow-md px-4 py-0.5 border-1 border-gray-400"
                              >
                                 <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-6 w-6"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                 >
                                    <path
                                       stroke-linecap="round"
                                       stroke-linejoin="round"
                                       stroke-width="2"
                                       d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
                                    />
                                 </svg>
                                 {{ error }}
                              </label>
                           </div>
                        </transition>
                        <li class="md:hidden">Príprava nám zaberie</li>
                        <li class="hidden md:block">Príprava</li>
                        <input
                           @click="errors.time = ''"
                           v-model="recipe.time"
                           maxlength="3"
                           id=""
                           class="text-center font-semibold text-green-500 outline-none border-none focus:outline-none focus:ring-0 w-14 md:mt-2 md:text-center md:outline-none md:border-none md:bg-gray-100 md:rounded-xl md:py-2"
                           placeholder="00"
                        />
                        minút
                     </div>
                     <div
                        class="flex items-center relative text-lg font-semibold text-gray-700 md:block md:text-center md:text-lg"
                     >
                        <transition name="fade">
                           <div v-if="errors.chunk">
                              <label
                                 v-for="error in errors.chunk"
                                 :key="error"
                                 for="chunk"
                                 class="flex items-center w-44 text-center absolute -top-1 custom-small-text font-semibold text-yellow-500 bg-gray-100 rounded-lg shadow-md px-4 py-0.5 border-1 border-gray-400"
                              >
                                 <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-6 w-6"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                 >
                                    <path
                                       stroke-linecap="round"
                                       stroke-linejoin="round"
                                       stroke-width="2"
                                       d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
                                    />
                                 </svg>
                                 {{ error }}
                              </label>
                           </div>
                        </transition>
                        <li class="md:hidden">Počet porcii bude</li>
                        <li class="hidden md:block">Počet porcii</li>
                        <input
                           @click="errors.chunk = ''"
                           v-model="recipe.chunk"
                           maxlength="2"
                           id=""
                           class="text-center font-semibold text-green-500 outline-none border-none focus:outline-none focus:ring-0 w-14 md:mt-2 md:text-center md:outline-none md:border-none md:bg-gray-100 md:rounded-xl md:py-2"
                           placeholder="0"
                        />
                     </div>
                     <div
                        class="flex items-center relative text-lg font-semibold text-gray-700 md:block md:text-center md:text-lg"
                     >
                        <transition name="fade">
                           <div v-if="errors.difficulty">
                              <label
                                 v-for="error in errors.difficulty"
                                 :key="error"
                                 for="difficulty"
                                 class="flex items-center w-44 text-center absolute -top-1 custom-small-text font-semibold text-yellow-500 bg-gray-100 rounded-lg shadow-md px-4 py-0.5 border-1 border-gray-400"
                              >
                                 <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-6 w-6"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                 >
                                    <path
                                       stroke-linecap="round"
                                       stroke-linejoin="round"
                                       stroke-width="2"
                                       d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
                                    />
                                 </svg>
                                 {{ error }}
                              </label>
                           </div>
                        </transition>
                        <li class="md:hidden">Náročnost receptu</li>
                        <li class="hidden md:block">Náročnost</li>
                        <select
                           @click="errors.difficulty = ''"
                           v-model="recipe.difficulty"
                           id=""
                           class="text-center font-semibold text-green-500 outline-none border-none focus:outline-none focus:ring-0 w-40 md:mt-2 md:text-center md:outline-none md:border-none md:bg-gray-100 md:rounded-xl md:py-2"
                        >
                           <option value="" disabled selected>
                              obtiažnosť
                           </option>
                           <option value="Jednoduchý">Jednoduchý</option>
                           <option value="Stredná">Stredná</option>
                           <option value="Tažký">Tažký</option>
                        </select>
                     </div>
                  </div>
                  <div
                     @click="errors.ingredients = ''"
                     class="relative block list-none text-xl px-2 md:px-10 break-words"
                  >
                     <h2
                        class="sm:text-base md:text-2xl py-8 text-gray-700 text-lg font-semibold"
                     >
                        Na prípravu budeme potrebovať :
                     </h2>
                     <ingredients-inputs
                        :ingredients="recipe.ingredients"
                        @ingredientsChange="updateIngredients"
                     >
                     </ingredients-inputs>
                     <transition name="fade">
                        <div v-if="errors.ingredients">
                           <label
                              v-for="error in errors.ingredients"
                              :key="error"
                              for="ingredients"
                              class="flex items-center absolute text-xs font-semibold text-yellow-500 bg-gray-100 rounded-lg shadow-md px-4 py-0.5 border-1 border-gray-400"
                           >
                              <svg
                                 xmlns="http://www.w3.org/2000/svg"
                                 class="h-6 w-6"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor"
                              >
                                 <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
                                 />
                              </svg>
                              {{ error }}
                           </label>
                        </div>
                     </transition>
                  </div>
                  <div
                     class="block relative list-none text-xl md:text-2xl px-2 md:px-10 break-words"
                  >
                     <h2 class="py-8 text-gray-700 text-lg font-semibold">
                        Popis receptu :
                     </h2>
                     <p>
                        <textarea
                           maxlength="500"
                           @click="errors.text = ''"
                           v-model="recipe.text"
                           id=""
                           cols="30"
                           class="border-0 rounded-xl w-full focus:outline-none focus:ring-0 text-xl placeholder-gray-300 resize-none"
                           placeholder="Popíš svoj recept zopár vetamy aby čo najviac zaujal... "
                        ></textarea>
                     </p>
                     <transition name="fade">
                        <div v-if="errors.text">
                           <label
                              v-for="error in errors.text"
                              :key="error"
                              for="text"
                              class="flex items-center w-64 text-center absolute bottom-8 text-xs font-semibold text-yellow-500 bg-gray-100 rounded-lg shadow-md px-4 py-0.5 border-1 border-gray-400"
                           >
                              <svg
                                 xmlns="http://www.w3.org/2000/svg"
                                 class="h-6 w-6"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor"
                              >
                                 <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
                                 />
                              </svg>
                              {{ error }}
                           </label>
                        </div>
                     </transition>
                  </div>
                  <div
                     @click="errors.approach = ''"
                     class="block relative list-none text-xl md:text-2xl px-2 md:px-10 break-words"
                  >
                     <h2 class="py-8 text-gray-700 text-lg font-semibold">
                        Ako budeme postupovať :
                     </h2>
                     <approach-inputs
                        :approach="recipe.approach"
                        @approachChange="updateAproach"
                     >
                        >
                     </approach-inputs>
                     <transition name="fade">
                        <div v-if="errors.approach">
                           <label
                              v-for="error in errors.approach"
                              :key="error"
                              for="approach"
                              class="flex items-center absolute text-xs font-semibold text-yellow-500 bg-gray-100 rounded-lg shadow-md px-4 py-0.5 border-1 border-gray-400"
                           >
                              <svg
                                 xmlns="http://www.w3.org/2000/svg"
                                 class="h-6 w-6"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor"
                              >
                                 <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
                                 />
                              </svg>
                              {{ error }}
                           </label>
                        </div>
                     </transition>
                  </div>

                  <div
                     v-if="!auth"
                     class="md:px-10 text-lg font-semibold text-gray-700"
                  >
                     <label for="guest">Podpíš sa pod svoj recept: </label>
                     <input
                        class="placeholder-gray-300 max-w-full rounded-xl font-display text-xl leading-9 font-semibold mt-10 mb-4 px-3 sm:text-xl sm:leading-10 outline-none border-none focus:ring-0"
                        placeholder="Tvoje meno"
                        type="text"
                        v-model="recipe.guest"
                        id=""
                     />
                  </div>
               </div>
            </div>
         </div>

         <div v-if="auth && !editing" class="block text-center my-8">
            <button
               @click.prevent="newRecipe()"
               class="shadow-lg px-8 py-2 rounded-tr-2xl rounded-bl-2xl text-2xl text-white bg-green-600 hover:bg-green-500 transition-colors"
               type="submit"
            >
               Pridať recept
            </button>
         </div>
         <div v-if="!auth && !editing" class="block text-center my-8">
            <button
               @click.prevent="newRecipe()"
               class="shadow-lg px-8 py-2 rounded-tr-2xl rounded-bl-2xl text-2xl text-white bg-green-600 hover:bg-green-500 transition-colors"
               type="submit"
            >
               Odoslať na schválenie
            </button>
         </div>
         <div v-if="editing" class="block text-center my-8">
            <button
               @click.prevent="newRecipe()"
               class="shadow-lg px-8 py-2 rounded-tr-2xl rounded-bl-2xl text-2xl text-white bg-green-600 hover:bg-green-500 transition-colors"
               type="submit"
            >
               Uložiť zmeny
            </button>
         </div>
      </div>
      <aprroved-modal :message="this.message" v-if="aprroved"></aprroved-modal>
   </div>
</template>

<script>
import addImage from './addImage.vue'
import approachInputs from './approachInputs.vue'
import ingredientsInputs from './ingredientsInputs.vue'
import aprrovedModal from './approvedModal.vue'

export default {
   components: {
      ingredientsInputs,
      approachInputs,
      addImage,
      aprrovedModal
   },
   props: {
      withRedirect: Boolean,
      editing: Boolean,
      auth: [Number, String],
      editableRecipe: Object
   },

   data: function() {
      return {
         recipe: {
            category: '',
            title: '',
            time: '',
            chunk: '',
            difficulty: '',
            text: '',
            ingredients: [
               {
                  id: 1,
                  name: ''
               }
            ],
            approach: [
               {
                  id: 1,
                  name: ''
               }
            ],
            guest: '',
            file: ''
         },
         errors: [],
         aprroved: false,
         message: ''
      }
   },
   methods: {
      newRecipe() {
         let formData = new FormData()
         for (const [name, value] of Object.entries(this.recipe)) {
            if (Array.isArray(value)) {
               formData.append(
                  name,
                  JSON.stringify(value.filter(value => value.name !== ''))
               )
            } else {
               formData.append(name, value)
            }
         }
         if (this.editing) {
            formData.append('_method', 'PUT')
            axios
               .post('/recept/' + this.editableRecipe.id, formData)
               .then(response => {
                  this.message = 'Zmeny boli uložené.'
                  this.aprroved = true
                  if (this.withRedirect) {
                     setTimeout(() => {
                        window.location.href =
                           this.$app_url + 'recept/' + this.editableRecipe.id
                     }, 1700)
                  } else this.$emit('submited', response.data)
               })
               .catch(error => {
                  this.errors = error.response.data.errors
               })
         } else {
            axios
               .post('/recept/', formData)
               .then(response => {
                  this.message = 'Ďakujeme za váš recept.'
                  this.aprroved = true
                  setTimeout(() => {
                     window.location.href = '/'
                  }, 1700)
               })
               .catch(error => {
                  this.errors = error.response.data.errors
                  for (const [name, value] of Object.entries(this.recipe)) {
                     document.getElementById(name).scrollIntoView()
                     break
                  }
               })
         }
      },
      updateIngredients(data) {
         this.recipe.ingredients = data.filter(function(el) {
            return el != null
         })
      },
      updateAproach(data) {
         this.recipe.approach = data.filter(function(el) {
            return el != null
         })
      },
      updateImage(data) {
         this.recipe.file = data
      }
   },
   created() {
      if (this.editing) {
         this.recipe = this.editableRecipe
      }
   }
}
</script>

<style lang="scss">
.custom-img-width{
   width: 40rem;
}
.custom-small-text {
   font-size: 0.62rem /* 12px */;
   line-height: 1rem /* 16px */;
}
</style>
