<template>
   <div class="w-full h-full ">
      <div ref="container" class="max-w-screen-lg h-full-lg pt-4 m-auto">
         <div
            class="w-full h-full text-center"
            v-if="recipes.data <= 0"
         >
            <h4
               class="Alex-Brush text-gradient font-semibold text-4xl  text-green-500 pt-32 "
            >
               {{ errorMessage }}
            </h4>
         </div>
         <transition-group
            name="fade"
            mode="in-out"
            class="flex justify-center flex-wrap"
         >
            <div
               class="relative"
               v-for="recipe in recipes.data"
               :key="recipe.id"
            >
               <recipe-card class="" :recipe="recipe"> </recipe-card>
            </div>
         </transition-group>
         <paginate
            size="medium"
            :next-page-url="recipes.next_page_url"
            :prev-page-url="recipes.prev_page_url"
            :last-page="recipes.last_page"
            :current-page="recipes.current_page"
            @paginated="paginate"
         ></paginate>
      </div>
   </div>
</template>

<script>
import paginate from '../paginate.vue'
import recipeCard from './recipeCard.vue'

export default {
   components: {
      recipeCard,
      paginate,
   },
   props: { userId: String, url: String },

   data: function () {
      return {
         errorMessage: '',
         category: '',
         search: '',
         user: this.userId || '',
         recipes: [],
      }
   },
   methods: {
      paginate(pageNumber = 1) {
         axios
            .get(
               `${this.url}?page=${pageNumber}&category=${this.category}&search=${this.search}&user=${this.user}`
            )
            .then((response) => {
               this.recipes = ''
               if (response.data.recipes.length) {
               } else this.showErrorMessage()
               this.$nextTick(() => {
                  setTimeout(() => {
                     this.recipes = response.data.recipes
                  }, 300)
               })
            })
         this.scrollToTop()
      },
      scrollToTop() {
         window.scrollTo(0, 0)
      },
      showErrorMessage() {
         if (this.search === '' && this.category === '' && this.user === '') {
            this.errorMessage = 'Žiadne recepty na zobrazenie :('
         } else if (
            this.search === '' &&
            this.category === '' &&
            this.user !== ''
         ) {
            this.errorMessage = 'Použivateľ zatial nepridal žiadny recept... '
         } else if (this.search === '' && this.category !== '') {
            this.errorMessage = `V kategorii ${this.category} nie su žiadne recepty :(  `
         } else if (this.search !== '') {
            this.errorMessage = `Ľutujeme ale nenašli sme žiadne recepty na zobrazenie...`
         }
      },
   },
   mounted() {
      this.$root.$on('setCategory', (data) => {
         this.category = data
         this.search = ''
         this.$root.$emit('resetSearchBar')
         this.paginate(1, data)
      })

      this.$root.$on('search', (data) => {
         this.category = ''
         this.search = data
         this.paginate()
      })
   },
   created() {
      this.paginate()
   },
}
</script>


