<template>
   <div class="">
      <a :href="link">
         <div
            class="p-3 w-44 h-52 relative sm:w-60 sm:h-72 shadow-lg rounded-2xl m-1.5 bg-gray-50 text-gray-700"
         >
            <h1
               class="text-gray-600 mr-10 h-10 flex items-center text-xs sm:text-sm leading-tight font-bold mb-2 break-all text-left"
            >
               {{ stringLimiter(recipe.title, 50) }}
            </h1>
            <figure
               class="relative flex items-center h-20 sm:h-32 rounded-xl bg-blue-100 overflow-hidden sm:border-b-2 sm:border-gray-200 border-b-2 border-gray-200"
            >
               <p
                  class="flex items-center absolute top-0 bg-blue-100 text-gray-800 font-semibold md:py-1 px-1 md:px-3 rounded-br-lg rounded-tl-lg"
               >
                  <span class="flex items-center">
                     <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-3 w-3 md:h-5 md:w-5 text-red-500"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                     >
                        <path
                           fill-rule="evenodd"
                           d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                           clip-rule="evenodd"
                        />
                     </svg>
                     <p
                        class="text-gray-500 font-semibold text-xs md:text-base"
                     >
                        {{ recipe.likes_count }}
                     </p>
                  </span>
                  <span class="flex items-center ml-1">
                     <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-3 w-3 md:h-5 md:w-5 text-blue-400"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                     >
                        <path
                           stroke-linecap="round"
                           stroke-linejoin="round"
                           stroke-width="2"
                           d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z"
                        />
                     </svg>
                     <p
                        class="text-gray-500 font-semibold text-xs md:text-base"
                     >
                        {{ recipe.comments_count }}
                     </p>
                  </span>
               </p>
               <img
                  class="img object-cover"
                  :src="recipe.img"
                  alt="fotka receptu"
                  rel="preload"
               />
            </figure>
            <div
               class="flex flex-col gap-2 justify-start mt-1 sm:py-0.5 font-semibold"
            >
               <li
                  class="info text-xs sm:text-sm list-none flex items-center mr-2 sm:mr-0"
               >
                  <img
                     class="w-5 h-5 text-green-500 mr-1"
                     :src="$app_url + 'storage/images/icons/ClockIcon.svg'"
                     alt=""
                     srcset=""
                  />
                  {{ recipe.time + ' min' }}
               </li>
               <li
                  class="info text-xs sm:text-sm list-none flex items-center text-gray-600"
               >
                  <img
                     class="w-5 h-5 text-green-500 mr-1"
                     :src="$app_url + 'storage/images/icons/ChunkIcon.svg'"
                     alt=""
                     srcset=""
                  />
                  {{ recipe.chunk + howMany }}
               </li>
               <li
                  class="hidden info text-xs sm:text-sm list-none sm:flex items-center text-gray-600"
               >
                  <img
                     class="w-5 h-5 text-green-500 mr-1"
                     :src="$app_url + 'storage/images/icons/DifficultyIcon.svg'"
                     alt=""
                     srcset=""
                  />

                  {{ recipe.difficulty }}
               </li>
            </div>
         </div>
      </a>
   </div>
</template>

<script>
export default {
   props: { recipe: Object },
   data: function() {
      return {
         title: ''
      }
   },

   computed: {
      link: function() {
         return '/recept/' + this.recipe.slug
      },
      howMany: function() {
         if (this.recipe.chunk <= 4) {
            return ' porcie'
         } else return ' porcii'
      }
   }
}
</script>

<style lang="scss">
.text-small {
   font-size: 0.68rem;
   line-height: 1rem;
}
.text-custom {
   font-size: 0.79rem;
}
.rounded-bottom-custom {
   border-bottom-right-radius: 3rem;
   border-bottom-left-radius: 3rem;
}
.rounded-top-custom {
   border-top-right-radius: 3rem;
   border-top-left-radius: 3rem;
}
.roboto {
   font-family: 'Roboto', sans-serif;
   background-color: #fff;
}
.text-custom-color {
   color: #34d399;
}
</style>
