<template>
   <div class="flex justify-between  max-w-screen-lg flex-wrap">
      <article
         class="w-full lg:w-4/6 md:pt-20 md:flex justify-center bg-white sm:rounded-xl py-1 shadow-lg px-0.5 relative"
      >
         <div
            class="md:absolute rounded-full inline-block border-4 border-white md:-top-12 md:left-4 shadow-xl"
         >
            <figure
               class="flex items-center w-16 sm:w-28 max-h-16 sm:max-h-28 overflow-hidden rounded-full"
            >
               <img
                  class="w-16 sm:w-28"
                  :src="
                     $app_url +
                     'storage/images/category/' +
                     recipe.category +
                     '.jpg'
                  "
                  alt=""
               />
            </figure>
         </div>
         <div class="recept w-full text-gray-700 font-semibold">
            <div class="md:flex items-center justify-between relative px-4">
               <h1
                  class="text-2xl font-semibold py-2 sm:text-5xl lg:py-5 break-words"
               >
                  {{ recipe.title }}
               </h1>

               <div v-if="recipeAuthor" class="flex">
                  <a
                     :href="$app_url + 'recept/' + recipe.id + '/edit'"
                     class="text-gray-500 group underline cursor-pointer rounded-md inline-flex items-center text-base font-medium hover:text-gray-900 focus:outline-none mr-2"
                     >upraviť</a
                  >
                  <a
                     @click.prevent="areYouSure = true"
                     href=""
                     class="text-gray-500 group underline cursor-pointer rounded-md inline-flex items-center text-base font-medium hover:text-gray-900 focus:outline-none mr-2"
                     >zmazať</a
                  >
                  <are-you-sure
                     v-if="areYouSure"
                     @submitEvent="deleteRecipe()"
                     @closeEvent="areYouSure = false"
                     button="Zmazať"
                     message="Ste si istý že chcete zmazať tento recept ?"
                  ></are-you-sure>
               </div>
            </div>
            <figure
               class="flex items-center overflow-y-hidden w-full max-h-80 md:max-h-96"
            >
               <img
                  class="w-full h-full border-t-2 border-b-2 border-gray-200"
                  :src="recipe.img"
                  alt="fotka receptu"
               />
            </figure>
            <div class="flex items-center p-2">
               <add-to-favourite
                  v-if="logged && recipe.confirmation === 1"
                  :logged-user-favourite="loggedUserFavourite"
                  :recipe-id="recipe.id"
               >
               </add-to-favourite>

               <like-button
                  v-if="recipe.confirmation === 1"
                  class="ml-1"
                  :recipe-id="recipe.id"
                  :auth-id="authId"
               >
               </like-button>
            </div>
            <div class="p-3 text-sm sm:text-xl sm:px-10">
               <div class="flex list-none justify-between">
                  <div>
                     <li class="flex md:flex-col justify-center items-center">
                        <i
                           class="mr-0.5 hidden sm:block far fa-clock text-xl text-yellow-500 text-center align-baseline"
                        ></i>
                        Príprava
                     </li>
                     <li class="text-center text-sm">
                        {{ recipe.time }} .minút
                     </li>
                  </div>
                  <div>
                     <li class="flex md:flex-col justify-center items-center">
                        <svg
                           xmlns="http://www.w3.org/2000/svg"
                           class="mr-0.5 h-6 w-6 text-xl text-yellow-900 text-center align-baseline"
                           fill="none"
                           viewBox="0 0 24 24"
                           stroke="currentColor"
                        >
                           <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z"
                           />
                           <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z"
                           />
                        </svg>
                        Počet porcii
                     </li>
                     <li class="text-center text-sm">{{ recipe.chunk }}</li>
                  </div>
                  <div>
                     <li class="flex md:flex-col justify-center items-center">
                        <i
                           v-show="recipe.difficulty === 'Jednoduchý'"
                           class="fas fa-circle text-green-300 mr-1"
                        ></i>
                        <i
                           v-show="recipe.difficulty === 'Stredná'"
                           class="fas fa-adjust text-yellow-700 mr-1"
                        ></i>
                        <i
                           v-show="recipe.difficulty === 'Tažký'"
                           class="far fa-circle text-red-700 mr-1"
                        ></i>
                        Náročnosť
                     </li>
                     <li class="text-center">{{ recipe.difficulty }}</li>
                  </div>
               </div>
               <div class="block list-none text-xl">
                  <h2 class="py-5 sm:py-8">Na prípravu budeme potrebovať :</h2>
                  <li
                     v-for="ingredient in JSON.parse(recipe.ingredients)"
                     :key="ingredient.id"
                     class="px-7 border-dashed border-b-2 border-green-500 text-gray-500 break-words"
                  >{{ ingredient.name }}</li>
               </div>
               <div v-if="recipe.text" class="">
                  <h2 class="text-2xl py-5 sm:py-8">Popis receptu :</h2>
                  <p class="pl-2  break-words text-gray-500">{{ recipe.text }}</p> 
               </div>
               <div class="mb-10">
                  <h2 class="text-2xl py-5 sm:py-8">Ako budeme postupovať :</h2>
                  <div
                     v-for="(approach, index) in JSON.parse(recipe.approach)"
                     :key="approach.id"
                     class="flex py-4"
                  >
                     <li
                        class="flex flex-shrink-0 justify-center items-center custom-gradient w-8 h-8 rounded-full text-white"
                     >
                        {{ index + 1 }}
                     </li>
                     <p class="ml-2 py-1 text-gray-500 break-words">{{ approach.name }}</p>
                  </div>
               </div>
            </div>
         </div>
      </article>
      <aside class="flex flex-col lg:pl-6 w-full lg:w-2/6">
         <div>
            <user-card
               class="w-full"
               :recipe-user="recipeUser"
               :auth-id="authId || null"
            ></user-card>
         </div>

         <five-star-rating :auth-id="authId" :recipe-id="recipe.id">
         </five-star-rating>
      </aside>

      <user-comments
         class="w-full px-0.5"
         :auth-id="authId"
         :recipe-id="recipe.id"
         :recipe-user-id="recipeUser.id || 0"
      >
      </user-comments>
   </div>
</template>

<script>
import likeButton from './likeButton.vue'
import newMessage from '../conversations/newMessage.vue'
import addToFavourite from './addToFavourite.vue'
import areYouSure from '../areYouSure.vue'
import userCard from './userCard.vue'
import userComments from '../userComments.vue'
import fiveStarRating from '../rating/fiveStarRating.vue'

export default {
   components: {
      newMessage,
      addToFavourite,
      areYouSure,
      userCard,
      userComments,
      fiveStarRating,
      likeButton,
   },

   props: {
      authId: Number,
      recipeProp: Object,
   },
   data: function () {
      return {
         recipe: this.recipeProp,
         recipeAuthor: false,
         logged: false,
         areYouSure: false,
         loggedUserFavourite: null,
         loggedUserFollower: null,
      }
   },
   methods: {
      addItemToArray(event, array) {
         array.push(event)
      },
      removeItemFromArray(event, array) {
         let item = array.find((key) => {
            return key.id === event
         })
         let index = array.indexOf(item)

         array.splice(index, 1)
      },

      deleteRecipe() {
         axios.delete('recept/' + this.recipe.id)
         this.redirect()
      },
      recipeAuthorCheck() {
         if (this.authId === this.recipe.user_id) {
            this.recipeAuthor = true
         }
      },
      redirect() {
         window.location.href = this.$app_url
      },
   },
   computed: {
      recipeUser: function () {
         return this.recipe.user ?? this.recipe.guest
      },
   },
   created() {
      if (this.authId) {
         this.logged = true
         this.recipeAuthorCheck()
      }
      this.loggedUserFavourite = this.recipe.favourite.find((key) => {
         return key.id === this.authId
      })
   },
}
</script>
