<template>
   <div>
      <div class="w-full">
         <div
            v-if="recipeUser.id"
            class="relative flex flex-col justify-center bg-white py-4 lg:py-6 md:px-6 lg:rounded-3xl lg:w-64 lg:my-4 shadow-xl"
         >
            <div
               class="flex justify-center lg:absolute lg:rounded-full lg:shadow-xl lg:left-4 sm:-top-8"
            >
               <figure
                  class="w-20 h-20 rounded-full overflow-hidden dark:border-white border-4 border-white"
               >
                  <img
                     class="w-full h-full object-cover"
                     :src="recipeUser.avatar"
                     alt=""
                  />
               </figure>
            </div>
            <div class="mt-1 lg:mt-8">
               <p
                  class="flex justify-center lg:justify-start text-xl font-semibold my-2 text-blue-400"
               >
                  {{ recipeUser.name }}
               </p>
               <div
                  class="flex justify-center lg:justify-start items-center space-x-2 text-gray-400 text-base hover:text-blue-300 font-semibold"
               >
                  <svg
                     xmlns="http://www.w3.org/2000/svg"
                     class="h-5 w-5"
                     viewBox="0 0 20 20"
                     fill="currentColor"
                  >
                     <path
                        d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z"
                     />
                  </svg>
                  <p>
                     <a :href="/pouzivatel/ + recipeUser.name"
                        >recepty od {{ recipeUser.name }}</a
                     >
                  </p>
               </div>
               <new-message
                  v-if="authId && authId !== recipeUser.id"
                  class="w-full"
                  :user_id="recipeUser.id"
               >
               </new-message>
               <div class="flex w-full justify-center lg:justify-start">
                  <followers-button
                     :recipe-user-id="recipeUser.id"
                     :auth-id="authId"
                  >
                  </followers-button>
               </div>
            </div>
         </div>

         <div
            v-if="!recipeUser.id"
            class="relative flex flex-col justify-center bg-white py-4 md:py-6 md:px-6 sm:rounded-3xl md:w-64 md:my-4 shadow-xl"
         >
            <div
               class="flex justify-center md:absolute md:rounded-full md:shadow-xl md:left-4 sm:-top-8"
            >
               <figure
                  class="w-20 h-20 rounded-full overflow-hidden dark:border-white border-4 border-gray-300"
               >
                  <svg
                     xmlns="http://www.w3.org/2000/svg"
                     class="w-full h-full object-cover text-gray-300 bg-"
                     viewBox="0 0 20 20"
                     fill="currentColor"
                  >
                     <path
                        fill-rule="evenodd"
                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"
                        clip-rule="evenodd"
                     />
                  </svg>
               </figure>
            </div>
            <div class="mt-1 md:mt-8">
               <p
                  class="flex justify-center md:justify-start text-xl font-semibold my-2 text-blue-400"
               >
                  {{ recipeUser }}
               </p>
               <span
                  v-if="recipeUser !== 'neregistrovaný poúživateľ'"
                  class="text-gray-400 text-base"
                  >neregistrovaný poúživateľ</span
               >
            </div>
         </div>
      </div>
   </div>
</template>

<script>
import followersButton from './followersButton.vue'
import newMessage from '../conversations/newMessage.vue'
export default {
   components: {
      newMessage,
      followersButton,
   },
   props: {
      recipeUser: [Object, String],
      authId: Number,
   },
}
</script>

